@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(reset.css);

html, body{
	width: 100%;
	height: 100%;
}

body, h1, h2, p{
	font-family: 'Open Sans', sans-serif;
}

h1{
	padding: 10px;
	font-size: 40px;
}

h2{
	font-size: 20px;
}

p{
	padding: 10px;
}

.navigation{
	position: fixed;
	z-index: 1;
	top: 20px;
}

.navigation li{
	color: #FFFFFF;
	display: block;
	padding: 0 10px;
	line-height: 30px;
	margin-bottom: 2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom: 1px solid #FFFFFF;
	text-align: left;
	width: 53px;
}

.navigation li:hover,.active{
	font-size: 25px;
	cursor: pointer;
	width: 100px!important;
}


.slide{
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
}

.wrapper{
	width: 960px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.slideno{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 100px;
	font-weight: bold;
	color: rgba(255,255,255,0.3);
}

.button{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	background-color: #333333;
	background-image: url(../images/arrow.png);
}

.button:hover{
	background-color: #494949;
	cursor: pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image: url(../images/homebackground.jpg);
	background-repeat: no-repeat;
	background-color: #666769;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@-webkit-keyframes slide {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 320px;
    }
}

#rain{
	background-image: url(../images/rain4.png);
	width: 100%;
	height: 100%;
	/*-webkit-animation: slide 4s linear infinite;*/

}

#title{
	background-image: url(../images/umbrella2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	padding: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: black;
	text-align: center;
	position: absolute;
	top: 10em;
	left: 15em;
}

#title-content{
	padding-top: 3em;
	padding-bottom: 1em;
	color: #F5F5F5;
}

#home-footer1{
	font-size: 40px;
	bottom: 50px;
}

#home-footer2{
	font-size: 40px;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-image: url(../images/UW2.png);
	background-position: 0 10em;
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
}

.slide2-content{
	position: absolute;
	top: 5em;
	left: 40em;

}

.slide2-text{
	height: 450px;
	width: 400px;
	position: absolute;
	top: 10em;
	left: 2em;
	color: #F5F5F5;
}

.slide2-screen{
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 450px;
	background-image: url(../images/INFO.png);
	background-repeat: no-repeat;
	background-color: white;
	opacity: 0.2;
}

#profile{
	position: absolute;
	top: 8em;
	left: 6em;
	border-radius: 50%;
	height: 15em;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-image: url(../images/lamp.png);
	background-repeat: no-repeat;
	background-color: #8898BF;
	background-size: cover;
}

#grid{
	position: absolute;
	left: 35em;
	top: 5em;
}

.proj-thumbnail{
	width: 250px;
	padding: 20px;
	opacity: 0.5;

	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
}

.proj-desc{
	position: absolute;
	width: 30em;
	opacity: 0.0;

    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
}

#desc1{
	right: 280px;
}

#desc2{
	right: 530px;
}

#desc3{
	right: 280px;
	top: 0px;
}

#desc4{
	right: 530px;
	top: 0px;
}

#desc5{
	right: 280px;
	top: -158px;
}

#desc6{
	right: 530px;
	top: -158px;
}

#thumb1:hover, #thumb2:hover,
#thumb3:hover, #thumb4:hover,
#thumb5:hover, #thumb6:hover{
	opacity: 1.0;

	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
}

#thumb1:hover + #desc1, #thumb2:hover + #desc2,
#thumb3:hover + #desc3, #thumb4:hover + #desc4,
#thumb5:hover + #desc5, #thumb6:hover + #desc6{
	opacity: 1.0;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../images/coderain.jpg);
	background-repeat: no-repeat;
	background-color: #354B70;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}

